/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // Set/override container images (by label for local modules, by name for nf-core modules)
    withLabel: image_crispr_primer_design {
        container = "artifacts.example.com/functional-genomics/crispr-primer-design:0.3.11"
    }

    withName: PRIMER_DESIGN {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args   = [
            params.amplicons ? "--amplicons ${params.prefix}_amplicons.yaml" : '',
            params.coding ? "--coding CDS" : '',
            params.ngs_adapters && params.ngs_adapters != "none" ? "--ngs-adapters ${params.ngs_adapters}" : '',
            params.keep_all_columns ? "--include-input" : "--no-include-input",
            params.id_col ? "--id-col ${params.id_col}" : '',
            params.seq_col ? "--seq-col ${params.seq_col}" : '',
            params.chr_col ? "--chr-col ${params.chr_col}" : '',
            params.pos_col ? "--pos-col ${params.pos_col}" : '',
            params.strand_col ? "--strand-col ${params.strand_col}" : '',
            params.size_range ? "${params.size_range}".split(' ').collect{"--size-range $it"}.join(' ') : '',
            params.size_opt ? "--size-opt ${params.size_opt}" : '',
            params.target ? "--target ${params.target}" : '',
            params.flanking ? "--flanking ${params.flanking}" : '',
            params.num_pairs ? "--num-pairs ${params.num_pairs}" : '',
            params.primer_opt ? "--primer-opt ${params.primer_opt}" : '',
            params.primer_min ? "--primer-min ${params.primer_min}" : '',
            params.primer_max ? "--primer-max ${params.primer_max}" : '',
            params.max_poly_x ? "--max-poly-x ${params.max_poly_x}" : '',
            params.ngs_min_n ? "--ngs-min-n ${params.ngs_min_n}" : '',
            params.ngs_max_n ? "--ngs-max-n ${params.ngs_max_n}" : '',
            params.ngs_max_length ? "--ngs-max-length ${params.ngs_max_length}" : '',
        ].join(' ').trim()
        ext.prefix = params.prefix
    }

    withName: BEDOPS_GTF2BED {
        publishDir = [
            enabled: false
        ]
    }
}
