/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for NGS adapter sequences
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines NGS adapter sequences for the CRISPR primer design tool.
    The adapters to use can be set by using:
        $params.ngs_adapters / --ngs_adapters
----------------------------------------------------------------------------------------
*/

params {
    // NGS adapter sequences
    _ngs {
        Nextera {
            forward = "TCGTCGGCAGCGTCAGATGTGTATAAGAGACAG"
            reverse = "GTCTCGTGGGCTCGGAGATGTGTATAAGAGACAG"
            suffix  = "nxt"
        }
    }
}